<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>註冊</title>
</head>
<style>
  .box {
    width: 300px;
    height: 185px;
    background-color: lightblue;
    margin: 0 auto;
    margin-top: 300px;
    text-align: center;
    border-radius: 10px;
  }
</style>

<body>
  <div class="container">
    <div class="box">
      <form action="../../api/login/login.php" method="post"></form>
      <fieldset>
        <legend>註冊</legend>
        <div class="row">
          <div class="" style="margin-bottom: 15px;">
            <label for="account">帳號：</label>
            <input type="text" name="acc" style="width:100px;">
          </div>
          <div class="" style="margin-bottom: 15px;">
            <label for="password">密碼：</label>
            <input type="password" name="pw" style="width:100px;">
          </div>
          <div class="" style="margin-bottom: 15px;">
            <label for="checkpassword">確認密碼：</label>
            <input type="password" name="pw2" style="width:100px;">
          </div>
        </div>
        <a href="../../api/login/reg.php"></a><input type="submit" value="註冊" style="margin-bottom: 2px;"></a>
        <br>
      </fieldset>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>

  <script>

  </script>
</body>

</html>