<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>新增</title>
  <style>
    table {
      width: 30%;
      margin: 0 auto;
      font-size: 22px;
    }

    table,
    tr,
    td,
    th {
      text-align: center;
      border: 1px solid black;
      border-collapse: collapse;
    }

    .text-center {
      text-align: center;
    }

    .text-end {
      text-align: right;
      margin-right: 150px;
      margin-bottom: 20px;
    }

    a {
      text-decoration: none;
    }

    input {
      width: 90%;
      margin: 10px;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1 class="text-center">新增</h1>
    <form action="../../api/user/store.php">
      <table>
        <tr>
          <th width="40%">欄位名稱</th>
          <th width="">欄位資料</th>
        </tr>
        <tr>
          <td>
            Account
          </td>
          <td>
            <input type="text" name="acc" id="" style="height: 30px;">
          </td>
        </tr>
        <tr>
          <td>
            Password
          </td>
          <td>
            <input type="password" name="pw" id="" style="height: 30px;">
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="submit" value="新增" style="width: 70px;font-size: 18px;">
            <input type="hidden" name="user_id" value="1">
          </td>
        </tr>

      </table>
    </form>

  </div>
</body>

</html>